@{
    ViewBag.Title = "Archive";
}

<div id="myCarousel" class="carousel slide col-md-6">
    
    
    <ol class="carousel-indicators">
         <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
         <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
         <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
         <li data-target="#myCarousel" data-slide-to="3" class="active"></li>
         <li data-target="#myCarousel" data-slide-to="4" class="active"></li>
         <li data-target="#myCarousel" data-slide-to="5" class="active"></li>
    </ol>
    
    <div class="carousel-inner">
        <div class="active item">
            <img src="~/Images/Archive/Camera1/Webcam-2013-03-19-10.jpg" width="640px" height="480px"/>
            <div class="carousel-caption">
                <h4>First Day!</h4>
            </div>
        </div>
        
        <div class="item">
            <img src="~/Images/Archive/Camera1/Webcam-2013-03-22-08-33.jpg" width="640px" height="480px"/>
        </div>

        <div class="item">
            <img src="~/Images/Archive/Camera1/Webcam-2013-03-27-14-00.jpg" width="640px" height="480px"/>
        </div>
        <div class="item">
            <img src="~/Images/Archive/Camera1/Webcam-2013-04-01-13-00.jpg" width="640px" height="480px"/>
        </div>
        <div class="item">
            <img src="~/Images/Archive/Camera1/Webcam-2013-04-04-12-38.jpg" width="640px" height="480px"/>
        </div>
        <div class="item">
            <img src="~/Images/Archive/Camera1/Webcam-2013-04-10-08-22.jpg" width="640px" height="480px"/>
        </div>
        
        

    </div>
    
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>

    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

</div>


@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".carousel").carousel();
        });
        
    </script>

}
